@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter";
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 100%;
  max-width: 1080px;
  margin: 50px auto;
  overflow: hidden;
}

header {
  border-bottom: 1px solid #e0e0e0;

    img {
      margin-right: 15px;
    }

    h3, p {
      margin: 0;
    }
}

.content {
  h1 {
    margin: 0;
  }
}

.card {
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 20px;
  width: 210px;
  transition: 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-10px);
  }
  
  .favorite {
    position: absolute;
    cursor: pointer;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.price {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
  margin-bottom: 4px;
}

.button {
  cursor: pointer;
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 8px;
  transition: 0.4s ease-in-out;
}

.button:hover {
  content: "";
}

.content {
  .sneakers {
    gap: 0px 40px;
    justify-content: space-around;
  }
}

.search-block {
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding: 0 15px;

  input {
    border: 0;
    font-size: 16px;
    padding: 13px;
    width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  padding: 30px;
  position: absolute;
  width: 400px;
  height: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .items {
    overflow: auto;
  }

  .removeBtn {
    cursor: pointer;
  }

  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 30px !important;

    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;

      div {
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;
        margin: 0 7px;
      }
    }
  }

  .greenButton {
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 55px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease-in-out;

    &:hover {
      background: lighten(#232323, 10%);
      color: #e5e5e5;

      img {
        transform: translateX(25px);
        transition: 0.2s ease-in-out;
      }
    }

    &:active {
      background: lighten(#608f33, 10%);
      color: #ffffff;
    }
  }
}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  margin-top: 10px;

  .cartItemImg {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
  }

  .removeBtn:hover {
    opacity: 1;
  }
}
